 <div class="jumbotron">
    <div class="container">
        <h1 class="titulos"> Titulo 1 </h1>
        <p> Párrafo 1 </p>
        <p class="titulos"> párrafo 2 </p>
        <h2 class="titulos"> Subtítulo </h2>

    <p><a class="btn btn-primary btn-lg" href="http://www.gmail.com" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-tree-conifer" style="color:green"> </span> Learn More </a></p>
    </div>
</div>

<div class="container"> 
    <div class="row">
        <div class="col-md-4">
            <div class="page-header">
            <h1 style="display:inline" >Example page header </h1>
            <span class="label label-default" style="color:black">NEW</span>
            </div>
            <h3> subtítulo 3 </h3>
        </div>

        <div class="col-md-4">
            <div class="page-header">
            <h1>Example page header </h1>
            </div>
        <h3> subtítulo 4 </h3>
        </div>

        <div class="col-md-4">
            <div class="page-header">
            <h1>Example page header </h1>
            </div>
            
            <br>

            <a href="http://en1mes.com"> En1mes </a>
            <p> <a href="http://en1mes.com" target="_blank"> En1mes en otro tab </a> </p>

            <a href="https://warburg.sas.ac.uk/" target="_blanck">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Aby_Warburg.jpg" class="img-responsive">
            </a>
        </div>
    <ol>
        <li> Vida </li>
        <li> Obra </li>
        <li> Atlas </li>
    </ol>
</div>